.button-33 {
  background-color: #E8B04F;
  border-radius: 5px;
  /* box-shadow: #2B2B2B 0 -25px 18px -14px inset,#2B2B2B 0 1px 2px,#2B2B2B 0 2px 4px,#2B2B2B 0 4px 8px,#2B2B2B 0 8px 16px,#2B2B2B 0 16px 32px; */
  color: green;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: #C97B63 0 -25px 18px -14px inset;
  transform: scale(1.05) rotate(-1deg);
}

.button-text {
  color: white;
}