.data-card {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.data-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.data-card h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.data-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.data-card a {
  text-decoration: none;
}

.data-card a {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #C97B63;
  color: #2B2B2B;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}
.data-card a:hover {
  box-shadow: inset 500px 0 0 0 #C97B63;
  color: #F4F6F3;
}

.data-card .data-card-infos {
  padding: 16px;
}

.data-icons {
  text-decoration: none;
  background-color: #C97B63;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 1px;
}