body {
    background-color:#7CA982;
    font-family: "Lexend Deca", Helvetica, "sans-serif";
    color:#2B2B2B;
    text-align: justify;
}

h1, h2, h3, h4 {
    color:#2F5D50;
    font-family: "Staatliches", cursive;
    letter-spacing: 0.1rem;
}
h1 {
  padding-top: 10px;
}

a {
  text-decoration: none;
}

.card {
  background: #F4F6F3;
  padding: 2% 3%;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.5);
  margin:7px;
}

.exed-section p a {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #C97B63;
  color: #C97B63;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}
.exed-section p a:hover {
  box-shadow: inset 500px 0 0 0 #C97B63;
  color: #F4F6F3;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.align-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;   /* centre horizontalement */
  gap: 10px;             /* petit espace entre les éléments */
}

.text-deco-none {
  text-decoration: none;
}

@media (max-width: 750px) {

  .body {
    font-size: 13px;
    line-height: 20px;
  }

  .container {
    display: block;
  }

  .card {
  padding: 5%;
  }
}
