.left-panel {
  width: 20%;
  position: sticky;
  top: 15px;
}

#profile-img {
  border: 3px solid #7CA982;
  padding: 5px;
  width: 50%;
  border-radius: 50%;
}

.bigger-icons {
  font-size: 40px;
  padding-inline-start: 0px;
  margin: 15px;
}

.sm-icons {
  padding-right: 10px;
  transition: all 250ms;
  text-decoration: none;
  color: #C97B63;
}

.sm-icons:hover {
  transform: scale(1.05) rotate(-2deg);
  text-decoration: none;
  color: #E8B04F;
}

.display-inline > li {
  display: inline-block;
  list-style: none;
  padding-left: 0px;
}

#fill-button {
  background-color:#C97B63;
  border-radius: 6px;
  padding: 1%;
  color: white;
}

@media (max-width: 750px) {
  .left-panel {
  width: 90%;
  position: static;
  display: block;
  margin: 7px auto;
  }
}
