.project-content {
  display: flex;
  gap: 20px; /* spacing between text and video */
  align-items: flex-start; /* aligns items to the top */
}

.project-description {
  flex: 1; /* text takes remaining space */
}

iframe {
  flex-shrink: 0; /* prevents iframe from shrinking */
  transition: 250ms ease-out;
  border-radius: 20px;
}

iframe:hover {
    box-shadow: 0 0 20px rgba(47,93,80,0.6);
}

@media (max-width: 750px) {
  .project-content {
  display: block;
  }

  .project-description {
    margin-bottom: 10px;
  }

  .project-content iframe {
  width: 100%;
  }
}