.project-content {
  display: flex;
  gap: 20px; /* spacing between text and video */
  align-items: flex-start; /* aligns items to the top */
}

.project-description {
  flex: 1; /* text takes remaining space */
}

iframe {
  flex-shrink: 0; /* prevents iframe from shrinking */
  transition: 250ms ease-out;
  border-radius: 20px;
  margin: auto;
}

iframe:hover {
  box-shadow: 0 0 20px rgba(47,93,80,0.6);
}

.projectImg-container {
  width: 400px;
  margin: auto;
  transition: 250ms ease-out;
}

.projectImg-container:hover {
  box-shadow: 0 0 20px rgba(47,93,80,0.6);
}

.projectImg {
  width: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-logo {
  width: 15%;
  margin-right: 5%;
  margin-left: 5%;
}


@media (max-width: 750px) {
  .project-content {
  display: block;
  }

  .project-description {
    margin-bottom: 10px;
  }

  .projectImg-container {
    width: 90%;
    margin: auto;
    display: block;
  }

  .project-content iframe {
    width: 90%;
    margin: auto;
    display: block;
  }
}