.right-panel {
  width: 65%;
}

.hobbies-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.hobby-card {
  position: relative;
  margin: 20px;
  padding: 10%;
  text-align: center;
  background-size: cover;
  height: 250px;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s ease-out;
  overflow: hidden;
}

.hobby-card .info {
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.hobby-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3); /* default dim layer */
  opacity: 0;
  transition: 0.4s ease-out;
  z-index: 1;
}

.hobby-card:hover::before {
  opacity: 1; /* darkens background on hover */
}

.hobby-card:hover .info {
  opacity: 1;
  color: white;
  transform: translateY(0px);
}

.back-bottom {
  background-position: bottom;
}

.back-top {
  background-position: top;
}

.back-center {
  background-position: center;
}

.hobby-card:hover {
  transform: translateY(20px);
  /* filter: brightness(70%); */
}

/* .hobby-card::before {
  transition: 0.5s;
  opacity: 0;
} */

.exed-section {
  /* border-radius: 20px; */
  box-shadow: 0 0 20px rgba(47,93,80,0.3);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  /* background-color:#7CA982; */
}

/* .exed-section h4 {
  color: #F4F6F3;
}

.exed-section p {
  color: #F4F6F3;
}

.exed-section li {
  color: #F4F6F3;
} */

/* .hobby-card {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
} */

/* .hobby-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.hobby-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.hobby-card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.hobby-card .info h1 {
  margin: 0px;
} */