.right-panel {
  width: 65%;
}

.hobbies-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.hobby-card {
  position: relative;
  margin: 20px;
  padding: 10%;
  text-align: center;
  background-size: cover;
  height: 250px;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s ease-out;
  overflow: hidden;
}

.hobby-card .info {
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.hobby-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* default dim layer */
  opacity: 0;
  transition: 0.4s ease-out;
  z-index: 1;
}

.hobby-card:hover::before {
  opacity: 1; /* darkens background on hover */
}

.hobby-card:hover .info {
  opacity: 1;
  color: white;
  transform: translateY(0px);
}

.back-bottom {
  background-position: bottom;
}

.back-top {
  background-position: top;
}

.back-center {
  background-position: center;
}

.hobby-card:hover {
  transform: translateY(20px);
  /* filter: brightness(70%); */
}

.exed-section {
  /* border-radius: 20px; */
  box-shadow: 0 0 20px rgba(47,93,80,0.3);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  /* background-color:#7CA982; */
}

@media (max-width: 750px) {
  .right-panel {
  width: 90%;
  position: static;
  margin: 7px auto;
  display: block;
  }

  .hobbies-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  }
}
